name: Coverage

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Run tests with coverage
        run: npm run jest -- --coverage

      - name: Upload coverage report artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage
          
      - name: Report coverage
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          json_path: coverage/coverage-summary.json
          badge: true
          fail_below_min: true
          min_coverage: 80

